[submodule "cmake"]
	path = vendor/RC/CMake
	url = https://gitlab.com/__RC/cmake
	branch = main
[submodule "PolyHook_2_0"]
	path = vendor/stevemk14ebr/PolyHook_2_0
	url = https://gitlab.com/__RC/polyhook_2_0
	branch = master
[submodule "helpers"]
	path = vendor/RC/Helpers
	url = https://gitlab.com/__RC/helpers
	branch = main
[submodule "File"]
	path = vendor/RC/File
	url = https://gitlab.com/__RC/File
	branch = main
[submodule "function"]
	path = vendor/RC/Function
	url = https://gitlab.com/__RC/function
	branch = main
[submodule "constructs"]
	path = vendor/RC/Constructs
	url = https://gitlab.com/__RC/constructs
	branch = main
[submodule "singlepasssigscanner"]
	path = vendor/RC/SinglePassSigScanner
	url = https://gitlab.com/__RC/singlepasssigscanner
	branch = main
[submodule "scopedtimer"]
	path = vendor/RC/ScopedTimer
	url = https://gitlab.com/__RC/scopedtimer
	branch = main
[submodule "dynamicoutput"]
	path = vendor/RC/DynamicOutput
	url = https://gitlab.com/__RC/dynamicoutput
	branch = main
